<% title "Редакция на " + resource_name.to_s.humanize %>
<%= link_to "Back", :back %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email, "Имейл" %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password, "Парола" %> <i>(остави празно, ако не искате промяна)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Парола отново" %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password, "Стара парола" %><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Промени" %></p>
<% end %>

<p>Недоволни ли сте? <%= link_to "Изтрии моя профил", registration_path(resource_name), :confirm => "Сигурни ли сте?", :method => :delete %>.</p>
