<% value = value.nil? ? {} : value %>
<p>
	<label>Стойност</label>
  <% if expected_type == "/type/integer" or expected_type == "/type/float" %>
    <input type="text" name="<%= name %>" value="<%= value["value"] %>" />
  <% elsif expected_type == "/type/datetime" %>
    <input type="hidden" name="<%= name %>[type]" value="date" />
    <input type="text" name="<%= name %>[value]" value="<%= (value.nil?) ? "" : value["value"] %>" class="datepicker" />
  <% elsif expected_type[0] != "/" %>
    <input type="hidden" name="<%= name %>[type]" value="ref" />

    <%= autocomplete_field_tag "#{name}[value]", (value.class == HashWithIndifferentAccess) ? value["value"] : "", autocomplete_entity_title_entities_path, :update_elements => {:key => "#key-#{@i}"} %>
    <input type="hidden" name="<%= name %>[key]" id="key-<%= @i %>" value="<%= (value.class == HashWithIndifferentAccess) ? value["key"] : "" %>" />  
  <% else %>
    <input type="text" name="<%= name %>" value="<%= value %>" />
  <% end %>
</p>

<% @i += 1 %>
