<% title @entity.title %>

<% unless @entity.is_ok? %>
  <div class="no-info">Все още няма информация за този обект. Очаквайте в най-скоро време обновления.</div>
<% else %>
  <%= link_to "<span>Промени</span>".html_safe, edit_entity_path, :class => "icon-link icon-sprite-new" %>  
  <div style="clear:both;"></div>
  <br />

  <div class="page-info">   
    <div class="description">
      <%= @entity.description %>
    </div>
    
    <% unless @entity.aliases.nil? or @entity.aliases == []%>
      <div class="aliases">
        <span>Други имена: </span>
        <% i = 1; @entity.aliases.each do |a| %>
          <%= a %><%= (i < @entity.aliases.count) ? ',' : nil %>
        <% i = i + 1; end; %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <div class="page-image">
    <% unless @entity.image.nil? or @entity.image == "" %>
      <img src="<%= @entity.image %>" alt="<%= @entity.title %> image" style="max-height: 150px; max-width: 150px;" />
    <% end %>
  </div>
  
  <div style="clear:both;"></div>
  
  <div class="namespaces">
    <% @namespaces.each do |namespace, types| %>
      <fieldset class="namespace">
      <% ns = Namespace.one_by_key(namespace) %>
      <legend><h2><%= link_to ns.get_name, ns %></h2></legend>
        <% types.each do |type| %>
          <div class="type">
            <h3><%= link_to type["name"], namespace_type_path(:namespace_id => ns.key, :id => type["key"]) %></h3>
            <div class="type-properties">
              <% type["type_properties"].each do |property| %>
                <div class="type-property">
                  <div class="property-label">
                    <strong><%= property["label"] %>:</strong>
                  </div>
                  <div class="property-values">
                    <% unless property["values"].kind_of?(Array); property["values"] = [property["values"]]; end; %>
                    <% property["values"].each do |value| %>
                      <div class="property-value">
                        <%= visualize_value value %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  </div>
  
  <a href="<%= rdf_entities_path %>" class="rdf-link">RDF тройки</a>
  
<% end %>
