<% title @entity.title %>

<% unless @entity.is_ok? %>
  <div class="no-info">Все още няма информация за този обект. Очаквайте в най-скоро време обновления.</div>
<% else %>
  <div class="controls">
    <%= link_to "<span>Редакция</span>".html_safe, edit_entity_path, :class => "left" %>
    <%= link_to "<span>Версии</span>".html_safe, revisions_entity_path, :class => "right" %>  
  </div>
  <div style="clear:both;"></div>
  <br />

  <div class="page-info">   
    <div class="description">
      <%= @entity.description %>
    </div>
    
    <% unless @entity.aliases.nil? or @entity.aliases == []%>
      <div class="aliases">
        <span>Други имена: </span>
        <% i = 1; @entity.aliases.each do |a| %>
          <%= a %><%= (i < @entity.aliases.count) ? ',' : nil %>
        <% i = i + 1; end; %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <div class="page-image">
    <% unless @entity.image.nil? or @entity.image == "" %>
      <img src="<%= @entity.image %>" alt="<%= @entity.title %> image" style="max-height: 150px; max-width: 150px;" />
    <% end %>
  </div>
  
  <div style="clear:both;"></div>
  
  <div class="namespaces">
    <% @namespaces.each do |namespace, types| %>
      <fieldset class="namespace">
      <% ns = Namespace.one_by_key(namespace) %>
      <legend><h2><%= link_to ns.get_name, ns %></h2></legend>
        <% types.each do |type| %>
          <div class="type">
            <h3><%= link_to type["name"], namespace_type_path(:namespace_id => ns.key, :id => type["key"]) %></h3>
            <div class="type-properties">
              <% (type["type_properties"] || []).each do |property| %>
                <div class="type-property">
                  <div class="property-label">
                    <strong><%= property["label"] %>:</strong>
                  </div>
                  <div class="property-values">
                    <% unless property["values"].kind_of?(Array); property["values"] = [property["values"]]; end; %>
                    <% property["values"].each do |value| %>
                      <div class="property-value">
                        <%= visualize_value value %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  </div>

  <div class="sidebar">
    <fieldset class="namespace">
      <legend><h2>Още</h2></legend>
      <ul>
        <% @entity.same_as.each do |key, value| %>
          <% url = case key
            when "twitter" then "http://twitter.com/#{value}"
            when "imdb" then "http://imdb.com/titles/#{value}" # FIX... FIX!!!
            else value
          end
          %>
          <li class="<%= key %>-icon"><a href="<%= url %>" target="_blank"><%= Extractor::KEYS_REV[key] %></a></li>
        <% end %>
      </ul>
    </fieldset>

    <% unless @entity.same_as["twitter"].nil? %>
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 5,
        interval: 6000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#dddddd',
            color: '#000000'
          },
          tweets: {
            background: '#ffffff',
            color: '#333333',
            links: '#2267bb'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('<%= @entity.same_as["twitter"] %>').start();
      </script>
    <% end %>

    <br />
    <br />

    <iframe src="http://www.facebook.com/plugins/like.php?href=http://allus.in/entities/<%= @entity.key %>&amp;send=true&amp;layout=standard&amp;width=200&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:80px;" allowTransparency="true"></iframe>

  </div>
  <div style="clear:both;"></div>
  <a href="<%= rdf_entities_path %>" class="rdf-link">RDF тройки</a>
  
<% end %>
