<% title @type.name %>

<h1><%= @type.name %></h1>
<div class="description">
  <%= @type.comment %>
</div>

<table class="sorted-table"> 
  <thead> 
    <tr> 
      <th>Image</th> 
      <th width="150px">Title</th> 
      <th>Description</th> 
    </tr> 
  </thead> 
  <tbody> 
    <% @entities.each do |entity| %>
      <tr>
        <td>
          <% unless entity.image.nil? %>
            <img src="<%= entity.image %>" alt="<%= entity.title %>" />
          <% end %>
        </td>
        <td><a href="/entities/show/<%= entity.key.split('/')[1] %>"><span class="entity-link"><%= entity.title %></span></td>
        <td><%= entity.description[0..300] + "..." %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script language="javascript">
<!--
$(document).ready(function() 
    { 
        $(".sorted-table").tablesorter(); 
    } 
); 
//-->
</script>