<% title "Аутентикации" %>

<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>Може да влизате в този потребител чрез:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider_name %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :confirm => 'Сигурни ли сте, че искате да премахнете тази опция?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <p><strong>Добави друга услуга:</strong></p>
<% else %>
  <p><strong>Влезте чрез една от следните услуги:</strong></p>
<% end %>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "open_id_64.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a>
<div class="clear"></div>

<% unless user_signed_in? %>
  <strong>Не искате да ги използвате?</strong>
  <%= link_to "Влезте", new_user_registration_path %> или се <%= link_to "регистрирайте", new_user_session_path %> с парола.
<% end %>
