<% title "Нова задача" %>


<%= form_for(:jobs, :url => backend_jobs_path) do |f| %>
  <p><%= f.label :translate, "Превод" %>
  <%= f.check_box :translate %></p>
  
  <p><%= f.label :priority, "Приоритет" %>
  <%= f.text_field :priority %></p>

  <p><%= f.label :delay, "Закъснение" %>
  <%= f.text_field :delay %></p>
  
  <p><%= f.label :entities, "Имена на обекти за извличане" %>
  <%= f.text_area :entities %></p>

  <p><%= f.submit "В опашката" %></p>
<% end %>