<% title "Опашка" %>
<%= link_to "Назад", backend_jobs_path %> | <%= link_to "<span>Добави задачи</span>".html_safe, new_backend_job_path, :class => "icon-link icon-sprite-new" %>

<table class="sorted-table"> 
  <thead> 
    <tr> 
      <th width="70">Приоритет</th> 
      <th>Кога?</th> 
      <th>Обект</th> 
      <th></th>
    </tr> 
  </thead> 
  <tbody> 
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.priority %></td>
        <td><abbr title="<%= l job.run_at, :format => :long %>"><%= time_ago_in_words job.run_at %></abbr></td>
        <td><%= job.handler %></td>
        <td><%= link_to "<span>Изтрий</span>".html_safe, backend_job_path(job), :confirm => 'Are you sure you want to remove this log?', :method => :delete, :class => "icon-link icon-sprite-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script language="javascript">
<!--
$(document).ready(function() 
    { 
        $(".sorted-table").tablesorter(); 
    } 
); 
//-->
</script>