<%= form_for(@group, :url => url) do |f| %>
  <% if @group.errors.any? %>
  <fieldset id="save-errors">  
    <legend><h2>Грешки</h2></legend>
  <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </fieldset>
  <% end %>

  <p>
    <%= f.label :name, "Име" %>
    <%= f.text_field :name %>
  </p>
  
  <%= f.submit "Обнови" %>
<% end %>
