<% title @title %>

<% form_for @namespace, :url =>backend_namespace_path(@namespace) do |f| %>
   <% if @namespace.errors.any? %>
  <fieldset id="save-errors">  
    <legend><h2>Грешки</h2></legend>
  <ul>
      <% @namespace.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </fieldset>
  <% end %>
  
  <p>
    <%= f.label :show, "Показвай в навигация" %>
    <%= f.check_box :show %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>  
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  
  <%= f.submit "Обнови" %>
<% end %>