<table class="sorted-table"> 
  <thead> 
    <tr>
      <% columns.each do |row| %> 
        <th<%= (row[:width]) ? " width=\"#{row[:width]}\"" : "" %>><%= row[:title] %></th> 
      <% end %>
    </tr> 
  </thead> 
  <tbody> 
    <% rows.each do |row| %>
      <tr>
        <td><a href="<%= namespace_type_path @namespace, type %>"><span class="entity-link"><%= type.name %></span></td>
        <td><%= type.comment[0..300] + "..." %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script language="javascript">
<!--
$(document).ready(function() 
    { 
        $(".sorted-table").tablesorter(); 
    } 
); 
//-->
</script>