<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "codename Vatican" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery.tablesorter.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
  <div class="inner">
    <span class="logo">codename Vatican</span>
    <div class="search">
      <form method="GET">
        <input class="default-text" type="text" name="search" title="Търсене..." />
      </form>
    </div>
  </div>
</div>

<div id="wrapper">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  
  
  <div id="user_nav" style="float: right;">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. <br />
      Not you?
      <%= link_to "Sign out", destroy_user_session_path %>
      <br />
    <% else %>
      <br />
    <% end %>
    <%= link_to "Authentications", authentications_path %>
  </div>

  <%= content_tag :h1, (show_h1?) ? yield(:h1) : yield(:title) %>
  <%= yield %>
</div>

<script language="javascript">
<!--
$(document).ready(function()
{
    $(".default-text").focus(function(srcc)
    {
        if ($(this).val() == $(this)[0].title)
        {
            $(this).removeClass("default-text-active");
            $(this).val("");
        }
    });
    
    $(".default-text").blur(function()
    {
        if ($(this).val() == "")
        {
            $(this).addClass("default-text-active");
            $(this).val($(this)[0].title);
        }
    });
    
    $(".default-text").blur();        
});
//-->
</script>

</body>
</html>
